**Exercise 1**: Create a Jupyter Notebook \
**Name:** DataScienceEcosystem

**Exercise 2**: Create markdown cell with title of the notebook using H1 style heading

# Data Science Tools and Ecosystem

**Exercise 3:** Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 10:** Insert a markdown cell to list Objectives using an unordered list

**Objectives:**
* List popular languages for Data Science;
* List commonly used libraries for Data Science;
* Development environment open source tools used in data science;
* Examples of evaluating arithmetic expressions in Python.

**Exercise 4:** Create a markdown cell to list data science languages using a numbered list

Some of the popular languages that Data Scientists use are:
1. Python;
2. R;
3. SQl;
4. Scala;
5. Java;
6. C++;
7. Julia.

**Exercise 5:** Create a markdown cell to list data science libraries using a numbered list

Some of the commonly used libraries used by Data Scientists include:
1. Pandas;
2. NumPy;
3. SciPy;
4. Matplotlib;
5. Seaborn;
6. Scikit-Learn;
7. Keras.

**Exercise 6:** Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| :----------------------------: |
| Weka |
| Spark |
| TensorFlow |

**Exercise 7:** Create a markdown cell introducing arithmetic expression examples using H3 style heading

### Below are a few examples of evaluating arithmetic expressions in Python

**Exercise 8:** Create a code cell to multiply and add numbers

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

**Exercise 9:** Create a code cell to convert minutes to hours

In [10]:
# This will convert 200 minutes to hours by diving by 60
h = 200//60
print(h, "hours", 200-h*60, "minutes")

3 hours 20 minutes

**Exercise 11:** Create a markdown cell to indicate the Author's name

## Author
Victoria Misyakova